.main-places{
    background-image: url(https://ik.imagekit.io/asgxttv7mq/Revamp/taj-mahal);
    background-repeat: no-repeat;
    width: 450px;
    height: 690px;
    background-size: cover;
    margin: auto;
}